*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: antiquewhite;
    height:400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
div{
    width: 30%;
    border: 2px solid black;
    font-size: 60px;
    text-align: center;
    line-height: 120px;
    flex-grow: 1; 
}

#div4{
    flex-basis: 0 0 200px;
}